
<div class="flex-container">
<h1>Frequently Asked Questions</h1>
<h4>What is Integrify?</h4>
<p>Integrify.net (Because it's about bloody time Australians got good internet.) is a project that aims to facilitate communities to come together on a common issue, with the broader goal of launching successful community currencies.</p>

<h4>But what about the NBN?</h4>
<p>Look we have all be waiting for the National Broadband Network for a number of years.
  And really it's just going to another high priced, that keeps the CEO's pockets filled
  with poor support outsourced to cheap labour overseas with no interest in createing
  flourishing communites with local jobs.</p>

<h4>How much would it cost to install wireless internet throughout the whole of Australia?</h4>
<p>These are really rough figures, but if it costs $500k to beam internet into an area and install an access point in each post code,
  and there are 2630 postcodes, that means $500,000 times 2,630 would mean it would cost $1.315 billion dollars.
  That is 1/400th of the current Australia Debt ($405 Billion) to give Australians High Speed Internet.</p>

<h4>How would the community internet work?</h4>
<p>You wouldn't belive it but there is actually a fibre optic network that already runs throughout Australia,
  and it runs along most of the major national highways.  It's simply a matter of connecting to a fibre node and then we can
  beam what we call a "back-haul" internet conection through a point to point microwave system, and this through what we call a Point-to-Multipoint "Access Point" broadcasting the internet out
  in a very similar style to how mobile phone towers work, however much more advanced technology.</p>
  <img src="../assets/images/Wireless-Point-to-Multipoint-Solutions.jpg" alt="Wireless-Point-to-Multipoint-Solutions" style="width:400px;">

<h4>Do you have any examples of Wireless Internet Working?</h4>
<p>Sure you can check out the hundreds of examples from the <a href="http://www.cambiumnetworks.com/resources/type/case-study/">company that builds the technology here.</a></p>

<h4>How long does it take to get the network up and running?</h4>
<p>From the time the funds have been raised your community network can be up and running in as little as 6 weeks.</p>

<h4>What do you mean by community owned and operated?</h4>
<p>We can run the ISP and get up and running however it is our mission to train local programmers, customer service suppot staff, network engineers through our courses so that we can do a full hand over of the ISP to your community.</p>
<p>We have also devised a non greedy funding strategy where initiall investors get to make a safe investment however that
  entices them to continue to fund the network but at the same time a simple way where the community alwasys owns the assets.
  You can read more about investing <a routerLink="investors">here</a>.</p>

<h4>Do I need any special equipment at my house to connect to the Wireless Network?</h4>
<p>Yes, just like you need an antennea to pick up tv signals, or dish to get a paid TV network, you do need a small dish that is mounted on a pole that has a
  line of Site (LoS to an Access Point).
  Depending on the speed you require this dish can cost anywhere from $100 dollars to $250 dollars.</p>


<h4>What is an Access Point</h4>
<p>And Access point is very simillar to a mobile phone tower, and is what is connected to the World Wide Web and sends you internet to your Subscriber Module.</p>

<h4>What is a Subscriber Module?</h4>
<p>A Subscriber Module is a small device that you put on your roof to receive the internet from the Access Point.</p>

</div>

