<footer id="footer">
    <div class="container-fluid">
        <h3>Integrify.net</h3>
        <p>Because it's about bloody time Australians were served good internet.</p>
        <div class="row">
            <div class="col-sm-3">
                <a routerLink="/home">
                    <h5>Home</h5>
                </a>
                <a routerLink="/about">
                    <h5>About</h5>
                </a>
                <a routerLink="/team"><h5>Team</h5></a>
                <a routerLink="/faq"><h5>FAQ</h5></a>


            </div>
            <div class="col-sm-6">
                <a routerLink="investors"><h5>Investors</h5></a>
                <a href="https://frank.ly/accounts/1/transactions" target="_blank">
                    <h5>Bank Account</h5>
                </a>
                <a routerLink="contact"><h5>Contact</h5></a>
                <h5>Privacy Policy</h5>

            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div><br>



    <div class="flex-container">
        <div class="copyright">
            <div>
                <a href="https://bitbucket.org/tommycp2/integrify-community-internet"><img src="../assets/images/bitbucket.png"></a>
            </div>
            <div><a href="http://onepurseoneplanet.org.au/" target="_blank">A OnePurseOnePlanet Project</a></div>
            <div>© 2017 Integrify.net, Creative Commons Attribution 3.0 Unported License.</div>
        </div>
    </div>
</footer>
