

footer {
    background-color: #673AB7;
    color: #EBE6F6;
}

a {
    color: white;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}


/* I've put this flex box on hold untill I really need to come back to it.

REMEMBER TOM: Don't get caught up with the details move on with stuff and come back to it later on.


ul#flex-container {
    list-style: none;
    margin:0;padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height: 300px;
    align-items: stretch;
}

ul li {
    flex-grow:1;
    margin-left: 40px;
    font-family: Courier New, Courier, monospace;
    
}

ul li:first-child { flex-grow: 1;};
ul li:nth-child(2) { flex-grow: 2; };
ul li:nth-child(3) { flex-grow: 27; };


*/