<div class="flex-container">
  <h2>An Investment in Your Immediate Community is Always Going to Be Your Safest and Wisest Investment</h2>
  <p>Investing in your local transparently run communications network comes before all other investments.</p>
  <p>On this page we will outline how investing works and set your expectations when participating in this type of investment.</p>

  <h4>How Investing Works In a Nutshell</h4>
  <p>Well you should know that unlike other investmes you have probably made in the past, we implement <a href="https://frank.ly/accounts/1/transactions"
      target="_blank">transparent banking.</a> So you can alwasy see exactly where your funds are at any second and how they
    are being spent to build your communitie's communications network.
  </p>

  <h4>Stages of Funding</h4>
  <p>There are two stages of funding</p>
  <ul>
    <li>Stage 1: Initial funding for quote.</li>
    <li>Stage 2: Funding of Installation of Infrastructure</li>
  </ul>

  <h5>Stage 1: Initial Funding for Quote</h5>
  <p>Each area will crowd $2000 dollars for an experieced wireless IT engineer to study your postcode topography and produce
    a reprot that details:</p>
  <ul>
    <li>Costs
      <ul>
        <li>Eqipment</li>
        <li>Labour</li>
        <li>Initial and Ongoing Wholesale Internet Connection</li>
      </ul>
    </li>
    <li>Report on infrastructure upgrade plan as more and more people swiitch over to their commuinity ISP</li>
    <li>Topographical report on best locations for Access Towers</li>

  </ul>
  <p>This report will set the funding goal for Stage 2</p>



  <h5>Stage 2: Funding of Installation of Infrastructure</h5>
  <p>According to the proposed cost on Stage 1 </p>


  <h4>What Returns Can I Expect on My Investments?</h4>
  <p>You can expect double back your inital investment into the quote and the network and that's it. There is no ownership of
    the assets your community owns the networking assets and as as the network is upgraded the assets can be sold to postcode
    who are also starting up their own community ISP.</p>

  <h4>When Can I expect to see my returns?</h4>

    <p>10% of all monthly incomings will go back to the initial investors, this will continue to happen
      until each investor has recieved twice back their initial investment into stages stage 1 and 2 of the ISP (Interent Service Provider) setup.</p>


<h4>What happens with the rest of the money sitting in the account?</h4>
<p>After all ongoing costs of Tax, Wages, Equpment upgrades as more subscribers signup, there will be a surplus of money sitting in the account that is up to you to <a href="https://frank.ly/transactions/5640" target="_blank">comment on the transparent banking app to comment/document</a> where you would like to see the money spent next.</p>
<p>The best experts that will know where to spend the excess money will be people living in yoru community.  But we suggest you put money into programmers who can launch a community currency so that there will be more prosparity and not such a scarsity mindset on this idea of money.  You can check out our about us section to learn more about where we think money should be spent.</p>

<h4>What should I expect if I invest $1000?</h4>
<h6>FINANCIAL SCENARIO - MONTH 1</h6>
<p>If John funds the ISP $1000 dollars, he will receive back $2000 dollars. Therefore he is guaranteed a profit of $1000 dollars and can start taking is profit as soon as the first subscription comes in.</p>
<p>If on month 1, 50 subscriptions come in at $50 dollars each, therefore $50 x 50 subscriptions = $2,500 comes in on month 1.</p>
<p>Immediately 10% of this will go back to the initial funders. 10% = $250 dollars John funded $1000/$45000 = 0.02222222222% John will receive 0.02222222222 x $250 = $5.55 on Month 1. John can either choose to take the money or he can choose to reinvest it back into the ISP meaning he would have invested $1005.55 which means he is entitled to $2011.10, giving him a profit of $1005.55.</p>

<h6>FINANCIAL SCENARIO - MONTH 4</h6>
<p>Lets say on month 4 there are now 1000 subscribers all paying $50/month. Total Revenue = $50,000 10% back to initial investors = 10%*$50,000 = $5,000 John funded $1000/$45000 = 0.02222222222% John will receive 0.02222222222 x $5,000 = $111.11 on Month 4.</p>


<h6>FINANCIAL SCENARIO - MONTH 12</h6>
<p>Lets say on month 12 there are now 7000 subscribers all paying $50/month. Total Revenue = $350,000 10% back to initial investors = 10%*$350,000 = $35,000 John funded $1000/$45000 = 0.02222222222% John will receive 0.02222222222 x $35,000 = $777.77 on Month 12.</p>
<p>The signup rate with this ISP will be much faster through word of mouth because so many people are invested and will be sharing the company therefore no money will be wasted on industrial marketing costs.</p>




</div>
