#outer {
 
    height: 400px;
    background-color: #666;
    display: flex; /* activates flexbox css */
    align-items: center;  /* aligns items vertically */
    justify-content: center;  /* aligns items horizontally */
}

#inner {
    width: 100px;
    height: 100px;
    background-color: blue;
}