<div class="flex-container">
  <h1>About</h1>
  <p>
    Integrify was created to bring back integrity to all sectors of society through a number of disriptive transformative innovations including:
    <ul>
      <li><a href="https://frank.ly/accounts/1/transactions" target="_blank">Transparent Banking</a></li>
      <li>Wireless Community Owned Internet</li>
      <li>Commuity Crowdfunding</li>
    </ul>

  <p>
    The long term goal of the project aims to facilitate communities to come together on a common issue, with the broader goal
    of launching successful community currencies.
  </p>

  <h4>
    Vision Stages
  </h4>

  <p>It is my vision there will be a bank account for each of the 2630 postcodes in Australia and eventually all postcodes in
    the world, which will manage community internet first, and then so much more. Some communities in USA are starting to
    get their act together and have dropped the cost of their internet from $120 USD to $45 USD per month.

  </p>

  <p>
    If we really are going to create <i>"The Internet of Things": Good, fast, reliable, transparent, cost price internet, is a must, or else it's all just a pipe dream.</i>    The internet is stage one, and the tool we use to unite each area.
  </p>

  <h5>Stage 1:</h5>
  <p>Postcode area builds there list providing internet, cheaper and faster than Telstra.</p>

  <h5>Stage 2:</h5>
  <p>Teach programmers how they can manage their own website in their area by introducing systems like <a href="https://coderdojo.com"
      target="_blank">https://coderdojo.com</a></p>

  <h5>Stage 3:</h5>
  <p>Provide other services like a community owned Woolworths alternative, that is cheaper and 100% transparent on the finances.</p>

  <h5>Stage 4:</h5>
  <p>Programmers in that area launch a community currency, and manage the currencies relationship it has with fiat currencies,
    and other cryptocurrencies.</p>

  <h5>Stage 5:</h5>
  <p>We now have members of each community around the globe empowered with the latest information technology and the ability
    to program money who are funded by their community to represent their community and help integrate their community with
    the global blockchains forming.</p>

  <h4>
    Potential future community owned services:
  </h4>

  <ul>
    <li>Internet (first and foremost obviously)</li>
    <li>Community Owned Woolworths upgrade. (Includes farming, inventory systems created here will allow us to get to true cost
      economics.)</li>
    <li>Education (Arts, Programming, Science etc.)</li>
    <li>Housing</li>
    <li>Postal service</li>
    <li>Child Minding</li>

    <!-- Dialog box built following: https://material.angular.io/components/component/dialog -->
    <li><a (click)="openDialog()">Global Village Construction Set</a> together with <a href="http://openbuildinginstitute.org/">Open Building Institute</a></li>

    <li>Uber-like Transport system</li>
    <li>Community Medical Center</li>
    <li>Community Solar Grids</li>
    <li>Fuel Generation (use your imagination)</li>
    <li>Decentralised Internet of things powered by projects like <a href="https://hack.ether.camp/public/project-oaken---hardware-oracle-prototype-by-ethembeddedcom">Project Oaken</a></li>
    <li>Internet (first and foremost obviously)</li>
    <li>Community Banking</li>
  </ul>

</div>
