<form [formGroup]="loginForm" (submit)="login()" novalidate>
  <input formControlName="email" placeholder="Email" />
  <input formControlName="password" type="password" placeholder="Password" />
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
