<div class="flex-container">
  <h3>Contact Us</h3>

  <p></p>

  <h3>Business Hours</h3>
  <p>Monday to Friday 9am-5pm</p>
  <p></p>
  <p>Best method of contact is via email admin@integrify.net simple state the post code you would like to install community internet to and your reason for contacting and we will get back to you as soon as possible.</p>

</div>
