

.flex-container {
    padding: 0;
    margin: 50px;
    list-style: none;
    width: 85%;
    display: flex;
    flex-direction: column;
}

h4 {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom:0px;
}

h5 {
    margin-top: 30px;
}

h6 {
    margin-top: 1px;
    padding-top:0px;
}

a {
    cursor: pointer;
}
