
<md-toolbar color="primary">
    <button md-icon-button>
      <md-icon>menu</md-icon>

    </button>
        <span>Integrify</span>

    <button md-button [mdMenuTriggerFor]="menu">Menu</button>
      <md-menu #menu="mdMenu">
        <button md-menu-item routerLink="login" *ngIf="!profile.isLoggedIn()">Login</button>
        <button md-menu-item routerLink="logout" *ngIf="profile.isLoggedIn()" (click)="logout()">Logout</button>
        <button md-menu-item routerLink="register" *ngIf="!profile.isLoggedIn()">Signup</button>
      </md-menu>
  </md-toolbar>

 <router-outlet></router-outlet>



  <app-footer></app-footer>

