<h1>Almost there... Enter your postcode below to be taken to the current status of Community Owned and Operated Inernet in your area.</h1>


<p>
Once you submit the form youw will be taken to a table that shows who else is interested in setting up a community grid in your area.

</p>

<form>
      <div class="form-group">
        <label for="name">Postcode</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>