/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/* This is how I make the navigation use the full extent of the page. */
html, body {
    margin: 0px;
    padding: 0px;
}

md-card-title {
    text-align: center;
}


md-toolbar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 1.3em;
    min-height: 64px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}





/* I'm currently not using any of this CSS below, I got it from: youtube.com/watch?v=rRiV_b3WsoY&t=314s

.secondary {
    color: rgba(0,0,0,0.54);
}

md-sidenav-layout {
    background: rgba(0,0,0,0.03);
}

md-card {

}

.md-card-reasons {
    width: 400px;
    box-sizing: border-box;
    margin: 16px;
}
.card-container {
    display: flex;
}

.form {
    display: flex;
}

.form md-card {
    flex-grow: 1;
}

md-input {
    margin: 8px 0;
    width: 100%;
}

md-radio-button ,md-checkbox {
    margin: 16px 8px;
}

[md-fab] {
    position: absolute;
    left: 3%;
    top: 34px;
    z-index: 1;
}


.material-icons.md-18 {
  font-size: 18px; }
.material-icons.md-24 {
  font-size: 24px; }
.material-icons.md-36 {
  font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px; }
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {
  color: white; }
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

  */