<div class="flex-container">
  <h3>Our Team</h3>
  <p></p>
  <p></p>
  <div>
    <img src="../assets/images/profile_tom.jpg" alt="Tom Miller Profile Photo" style="width:300px;height:300px;">
    <h4>Thomas Miller</h4>
    <h6>Biomedical Engineer, Web Developer, Director of Charity “OnePurse OnePlanet”, Founder of Integrify.net</h6>
    <p>Thomas Miller is an all rounder social entrepreneur, and ever since the financial crisis in 2008 he's been on a mission
      to help our governemt solve our debt crisis. From 2004 to 2008 our national debt increased by $1 billion dollars. Since
      2008 to present our national debt has blown out of control and increased an average of $43 billion per year.</p>

    <p></p>
    <p>Just by looking at the finances stated by the <a href="https://www.screencast.com/t/z0MpHRDiPlh" target="_blank">Reserve Bank of Australia</a>      and <a href="http://aofm.gov.au/statistics/historical-data/commonwealth-government-securities-on-issue/" target="_blank">our own government</a>,
      it's clear what we are currenlty doing
      <u>is not working</u>.</p>

    <p>His mission is to help each postcode/community around Australia (and eventually the world) build their own communications
      network where the assets are owned by the community.</p>
  </div>

  <div>
    <h4>Greg Narracott</h4>
    <h6>Telecommunications Engineer</h6>
    <p>Greg has exprience in buliding wirelsss networks throughout Australia that are capable of deliving speeds, faster than
      the NBN with Unlimited Data. I fast robust communications network where the assets are owned by each community is a
      must to bring back prosparity to our society.</p>
  </div>

  <div>
    <h4></h4>
    <h6></h6>
    <p></p>

  </div>
</div>
