md-card {
    text-align: center;

}

button {
    margin: 40px;
    text-align: center;
}

#outer {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    
}


#inner {
    width: 500px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* Drop Shadows Created from: https://codepen.io/sdthornton/pen/wBZdXq */
    padding: 10px;

}



h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

#outer-signupbox {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    
}

#inner-signupbox {
    width: 500px;
    height: 400px;
    
    padding: 50px;

}