
<md-card>
  <md-card-content>
    <h2 class="example-h2">Percentage of Australian Communties that own their own Telecommunications</h2>

    <section class="example-section">
      <p>0%</p>
      <md-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="1"
        [bufferValue]="bufferValue">
      </md-progress-bar>
    </section>
  </md-card-content>
</md-card>



<div id="outer">
  <div id="inner">
    <h3 id="title">7 Reasons Why Comunity Internet Makes So Much Sense</h3>
    <div>
      <ol>
        <li>Local Technical Support which creates local jobs.</li>
        <li>Live access to transparent funds of public bank accunts - trust factor.</li>
        <li>Cost Price Internet</li>
        <li>Up to 110Mbs download and uplaod</li>
        <li>Unlimited Data</li>
        <li>Pay as you go</li>
        <li>Local and purposful jobs created</li>
      </ol>
    </div>
  </div>
</div>





<div id="outer-signupbox">
  <div id="inner-signupbox">
    <h4>Create an account now to find out the status of high speed internet in your local area.</h4>
    <h1>
      <button md-raised-button color="primary" (click)="register()">Signup</button>
    </h1>
  </div>
</div>