<div id="outer">
  <div id="inner">
    <h3 id="title">Register Now</h3>
    <div>
      <form [formGroup]="registerForm" (submit)="register()" novalidate>
        <input formControlName="email" placeholder="Email" />
        <input formControlName="password" type="password" placeholder="Password" />
        <input formControlName="postcode" type="number" placeholder="Postcode" />
        <button type="submit" [disabled]="!registerForm.valid">Register</button>
      </form>
    </div>
  </div>
</div>
